header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 4fr;
  height: max-content;
}
ol {
  text-align: start;
}
section ol li {
  background-color: rgb(0, 132, 255);
  margin: 15px;
  padding: 5px;
  border-radius: 9px;
}
.current {
  background-color: blueviolet;
}
#sidebar {
  background-color: rgb(10, 10, 25);
  position: fixed;
  top: 0;
  width: 85%;
  height: 100%;
  transition: left 0.3s;
}
.open_sidebar {
  left: 0;
}
.close_sidebar {
  left: -85%;
}
