body {
  font-family: Arial, sans-serif;
  background-color: rgb(10, 10, 25);
  text-align: center;
  color: #ffffff; /* General text color#333 */
}
a {
  text-decoration: none;
  color: #ffffff;
}
header {
  background-color: rgb(10, 10, 25); /* Black */
  color: #ffffff; /* White */
  padding: 10px;
  border-bottom: solid rgb(26, 45, 80) 1px;
}
main a {
  color: orange;
}
header h2 {
  margin: 5px;
}
h1 {
  font-size: 2.5em;
  color: #ff0000; /* Red */
}

main {
  margin: 20px;
}

#countdown {
  font-size: 1.5em;
  margin-top: 10px;
  color: rgb(147 188 239); /* Blue */
}
hr {
  border-color: aquamarine;
}

form {
  display: grid;
  grid-auto-flow: row;
  padding: 10px;
  border: solid 1px #301a30;
  border-radius: 5px;
}

label {
  margin: 5px 0;
  color: #ddc0dc; /* Blue */
}

input,
textarea {
  margin: 5px 0;
  border: 1px solid #000000; /* Black border */
  padding: 10px;
  outline: none;
}

button {
  margin: 5px 0;
  padding: 10px 20px;
  background-color: #800080; /* Purple */
  color: #ffffff; /* White */
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #740f0f; /* Red */
}
